{% extends 'layout.html' %}
{% block body %}

    <div class="hero-image-mainpage"> 
        <h3 class="library-hero-name library-hero-welcome"> Welcome to </h3>
        <h1 class="library-hero-name">The Benjamin Library</h1>
        <button class="login-button"> Log in/Sign Up</button>
    </div>
    <div class="searchbar">
        <div class="topnav">
          <div class="dropdown">
            <button class="filters" href="#filters">Filters -></button>
                <div class="dropdown-content">
                  <input type="checkbox">
                  <a href="genres.html">Genre</a>
                  <a href="size.html">Size</a>
            </div>
          </div> 
              <form action="/library" method="POST">
                <input class='search-container' type="text" placeholder="Search.." name="search">
               </form>

              
          </div>
        
          <p>{{noresults}}</p>
          <p>{{search_results}}</p>
          <DIV class="three-column">
          {%for i in books%}
          
          <div class="grid-elements">
          <p class="title">{{i[0]}}</p>
          <p class="data-elements">{{i[1]}} {{i[2]}}</p>
          <img src="{{i[3]}}" class="image-grid"/>
          </div>
          {%endfor%}
          </DIV>
         
          
          
    </div>
    {% endblock %}