{% extends 'layout.html' %}
{% block body %}

<div class="hero-image-mainpage">
  <h3 class="library-hero-name library-hero-welcome"> Welcome to </h3>
  <h1 class="library-hero-name">The Benjamin Library</h1>
  <button class="login-button"> Log in/Sign Up</button>
</div>
<div class="searchbar">
  <div class="topnav">
    
   
    <a class='contact'href="contact.html">Contact</a>
    <a class='events'href="events.html">Events</a>
    <a class='about' href="about.html">About</a>
    <form action="/library" method="POST">
    
    
    <input class='search-container' type="text" placeholder="Search for books..." name="search">
    <label class='container'for="availability">Available
      <input type="checkbox" name="availability" id="availability">
      <span class='checkmark'></span>
    </label>
    </form>
  </div>
</div>

<p class="results">{{noresults}}</p>
<p class="results">{{search_results}}</p>
<DIV class="cards">
  {%for i in books%}


  <div class="card">
    <div class="two-column">
      <img src="{{i[3]}}" class="card-image" />
    <p class="data-elements">This book is {{i[1]}}! <br><br> Genre: {{i[2]}} <button class="check-out-button">Check out Now!</button></p>
    
    </div>
    <div class="dropdown">
    <p class="title" class="dropbtn">{{i[0]}}</p>
      <div class="dropdown-content">
        <p class="blurb">{{i[4]}}</p>
      </div>
      </div>


    
    
  </div>
  
  {%endfor%}




</div>
<footer>
  <br><p class='made-by'>Made by Benjamin Wray!</p><br>
</footer>
{% endblock %}
