{% extends 'layout.html' %}
{% block body %}

<div class="hero-image-mainpage">
  <h3 class="library-hero-name library-hero-welcome"> Welcome to </h3>
  <h1 class="library-hero-name">The Benjamin Library</h1>
  <button class="login-button"> Log in/Sign Up</button>
</div>
<div class="searchbar">
  <div class="topnav">
    <div class="dropdown">
      <button class="filters" href="#filters">Filters -></button>
      <div class="dropdown-content">
        <form action="/library" method="POST">
          <input type="checkbox" name="availability">
          <label for="availability">Available</label>
      </div>
    </div>

    <input class='search-container' type="text" placeholder="Search.." name="search">
    </form>

  </div>
</div>

<p>{{noresults}}</p>
<p>{{search_results}}</p>
<DIV class="cards">
  {%for i in books%}


  <div class="card">
    <div class="two-column">
      <img src="{{i[3]}}" class="card-image" />
    
    <p class="data-elements">This book is {{i[1]}}! <br><br> Genre: {{i[2]}}</p>
  
    
    </div>
    <p class="title">{{i[0]}}</p>

    
    
  </div>
  
  {%endfor%}




</div>
{% endblock %}